html, body {
    margin: 0px;
    padding: 0px; 
    height: 100%; 
}

/* GENERAL CLASSES  */

.button-default {
    background-color: #FF365C; 
    border-radius: 10px; 
    border-style: none; 
    color: inherit; 
    padding: 10px; 
    margin: 20px; 
    transition: background-color 0.5s ease; 
}

.button-default:hover {
    background-color: white; 
    color: #FF365C; 
    cursor: pointer; 
}

.button-curved {
    border-top-left-radius: 0px; 
    border-bottom-right-radius: 0px; 
}

.button-save {
    background-color: #18C29C;
    border-style: none;
    padding: 10px; 
    margin: 10px; 
    color: white; 
    font-weight: bold; 
}

.button-save:hover {
    background-color: white;
    border: 2px solid #18C29C;
    cursor: pointer; 
    color: #18C29C;
}

.big-font {
    font-size: 25px;
}

.medium-font {
    font-size: 18px; 
}

.header {
    font-size: 40px; 
}

.hidden {
    display: none; 
}

form {
    text-align: left; 
}


.form-group .input-field {
    border-radius: 5px; 
    border: 2px solid #efefef; 
    padding: 10px; 
    margin-top: 5px;
    margin-bottom: 5px; 
}

.profile-input-field {
    padding: 5px; 
    border: 2px solid #efefef; 
    border-radius: 5px; 
}

textarea {
    resize: none; 
}

.button-connect {
    position: absolute;
    top: 20px;
    right: 20px; 
    background-color: #FF0B23; 
    border-style: none; 
    padding: 15px; 
    color: white; 
    transition: background-color 0.5s ease; 
}

.button-connect:hover {
    background-color: white; 
    color: #FF365C; 
    cursor: pointer; 
    border: 1px solid #FF365C; 
}

a {
    text-decoration: none; 
    color: black; 
}

/* MAIN.SIGNUP SPECIFIC CLASS  */

main.signup {
    padding: 10px; 
    text-align: center; 
    background-image: url('IMG/b-signup.jpg');
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
    position: relative; 
    z-index: 0; 
    color: white; 
    height: 100%; 
}

main.signup .pseudo {
    position: absolute;
    width: 100%;
    height: 100%; 
    opacity: 0.3; 
    top: 0px; 
    left: 0px;
    background-color: #7F1A2E; 
    z-index: -1
}

main.signup section {
    margin-top: 100px; 
    margin-bottom: 100px; 
}

main.signup .modal {
    background-color: white; 
    color: black; 
    position: absolute;
    top: 120px; 
    left: 41.5%; 
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;  
    border-radius: 10px;
    border-top-left-radius: 0px; 
    border-bottom-right-radius: 0px;
}

#icon-close {
    position: absolute;
    right: 20px;
    top: 20px; 
    color: black; 
}

#icon-close:hover {
    cursor: pointer; 
}

/* NAVBAR STYLES  */
nav { 
    text-align: center; 
    border-bottom: 2px solid #BD414D; 
}

nav ul li a {
    text-decoration: none; 
    color: #BD414D; 
}

nav ul li {
    display: inline; 
    margin-right: 30px; 
}

/* MAIN.PROFILE SPECIFIC CLASS  */

main.profile {
    text-align: center; 
    box-shadow: 10px 10px 10px #efefef;
    width: 80%; 
    margin: 40px auto; 
    border-radius: 10px;
    border-top-left-radius: 0px; 
    border-bottom-right-radius: 0px;
    border: 1px solid #efefef; 
    position: relative; 
}

main.profile h2 {
    color: #CC4653; 
}

main.profile .profile-image {
    width: 200px;
    height: 200px; 
    border-radius: 10px; 
}

main.profile .profile-info { 
    width: 60%; 
    min-width: 500px; 
    margin: 30px auto; 
    overflow: auto;  
    padding-left: 20px;
    padding-right: 20px;  
}

main.profile .profile-form-group {
    float: left; 
    width: 33%; 
    max-width: 33%;
}

/* MAIN.DISCOVERY SPECIFIC CLASS  */

main.discovery {
    width: 90%;
    margin: 20px auto; 
}

main.discovery h2 {
    text-align: center; 
    color: #CC4653; 
}

main.discovery .search-bar input {
    width: 100%; 
    border-radius: 5px; 
    border: 2px solid #efefef; 
    padding: 10px; 
    margin-top: 5px;
    margin-bottom: 5px; 
}

.search-results {
    width: 100%; 
    margin: 0px auto;   
    box-shadow: 10px 10px 10px #efefef;
    border-radius: 10px;
    border-top-left-radius: 0px; 
    border-bottom-right-radius: 0px;
    border: 2px solid #efefef;
}

.search-result {
    padding: 20px; 
    overflow: auto; 
    border-bottom: 2px solid #efefef; 
}

.search-result img {
    width: 100px;
    height: 100px; 
}

.search-result-info {
    float: left; 
    max-width: 15%; 
    padding: 0px; 
    margin-right: 4%; 
}

.search-result-info h4 {
    margin: 0px;
}

.similar-profiles {
    margin: 40px auto; 
    width: 80%;
}

/* MAIN.CONNECT SPECIFIC CLASS  */
main.connect {
    width: 80%; 
    margin: 20px auto; 
}

main.connect h2{
    text-align: center; 
    color: #CC4653; 
}
